<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<style>
/* .pagination { */
/* 	display: inline-block; */
/* } */
/* .pagination a { */
/* 	color: black; */
/* 	float: left; */
/* 	padding: 5px 5px; */
/* 	text-decoration: none; */
/* } */
/* .pagination a.active { */
/* 	background-color: gray; */
/* 	color: white; */
/* 	border-radius: 2px; */
/* } */
</style>
	<head>
		<title>Scheduler UI (beta)</title>
		
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="webjars/sweetalert2/dist/sweetalert2.min.css" />
		
		<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="webjars/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
		<script type="text/javascript" src="webjars/sweetalert2/dist/sweetalert2.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
<body>


<main role="main" class="container">

		<form th:replace="/fragments/form.html :: form"> </form>
		
		<hr class="mb-4">
		
		<div class="table-responsive">
			<table class="table table-hover">
			    <thead class="thead-dark" th:replace="/fragments/table.html :: fields(~{ :: .myFields})">
		            <tr class="myFields">
		                <th>ID</th>
		                <th>Name</th>
		                <th>Group</th>
		                <th>Cron Human Exp</th>
		                <th>Template</th>
		                <th>Note</th>
		                <th>Status</th>
		                <th>Action</th>
		            </tr>
			    </thead>
			    
			    <div th:replace="/fragments/table.html :: tableBody(tableData=${jobsPage.content})"></div>
			</table>
		</div>
		
		
		<nav th:replace="/fragments/table.html :: pagination(pages=${jobsPage}, pageNumbers= ${pageNumbers})" aria-label="..."></nav>
		

</main>
</body>



<script type="text/javascript">
		
			function submit() {
				var data = {};
				
				$("button.btn").addClass("disabled");
				
				$("#schedulerForm :input")
					.serializeArray()
					.map( function(x) {
						data[x.name] = x.value;
					});
				
				$.ajax({
					  method: "POST",
					  url: "api/create",
					  contentType : "application/json",
					  data: JSON.stringify(data)
				}).done( function( msg ) {
					$("#schedulerForm :input").each( function() { $(this).val(""); });
				    $("#schedulerTable").bootstrapTable('refresh');
				    
				    swal({
				    	  type: 'success',
				    	  title: 'Submit Success',
				    	  text: msg.message
				    });
				});
				
				
		        
				$("button.btn").removeClass("disabled");
			}
		
			function responseHandler(data) {
				if( data.data != null && data.data.total != null)
					return data.data;
				else
					return {"rows":[],"total" : 0};
			}
			
			function actionFormatter( value, row ,index ) {
				
				var action = ( row.jobActive === true ) ?
						'<button onclick="stop('+ row.id +')" type="button" class="pause btn btn-warning">Pause</button>' :
						'<button onclick="start('+ row.id +')" type="button" class="start btn btn-success">Start</button>';
				
				var edit = "<button onclick='edit("+ JSON.stringify(row) +")' type='button' class='edit btn btn-primary'>Edit</button>";
				var del = '<button onclick="del('+ row.id +')" type="button" class="delete btn btn-danger">Delete</button>'
						
				return  action + '&nbsp' + edit + '&nbsp' + del; 
				
			}
			
			function del( id ) {
				$.ajax({
					  method: "GET",
					  url: "api/delete/" + id
				}).done( function( msg ) {
				    $("#schedulerTable").bootstrapTable('refresh');
				    
				    swal({
				    	  type: 'success',
				    	  title: 'Delete Success',
				    	  text: msg.message
				    });
				});
			}
			
			function edit(id,jobName,jobGroup,cronExp,jobTemplate,jobNote,jobStatus ) {
// 				$.each(row, function(key, value) {
// 				    $('#schedulerForm [name='+key+']').val(value);
// 				});

				$('#schedulerForm [name="id"]').val(id);
				$('#schedulerForm [name="jobName"]').val(jobName);
				$('#schedulerForm [name="jobGroup"]').val(jobGroup);
				$('#schedulerForm [name="cronExpression]"]').val(cronExp);
				$('#schedulerForm [name="jobTemplate"]').val(jobTemplate);
				$('#schedulerForm [name="jobStatus"]').val(jobStatus);
				$('#schedulerForm [name="jobNote"]').val(jobNote);
			}
			
			
			function start( id ) {
				$.ajax({
					  method: "GET",
					  url: "api/start/" + id
				}).done( function( msg ) {
				    $("#schedulerTable").bootstrapTable('refresh');
				    
				    swal({
				    	  type: 'success',
				    	  title: 'Start Success',
				    	  text: msg.message
				    });
				});
			}
			
			function stop( id ) {
				$.ajax({
					  method: "GET",
					  url: "api/stop/" + id
				}).done( function( msg ) {
				    $("#schedulerTable").bootstrapTable('refresh');
				    
				    swal({
				    	  type: 'success',
				    	  title: 'Stop Success',
				    	  text: msg.message
				    });
				});
			}
			
		</script>
</html>